<mat-expansion-panel
  hideToggle
  class="mat-elevation-z"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <img class="logo" src="assets/logo.png" />
    </mat-panel-title>
    <img class="control" src="assets/sandwich.png" *ngIf="!panelOpenState" />
    <img class="control" src="assets/close.png" *ngIf="panelOpenState" />
  </mat-expansion-panel-header>
  <div class="montserrat xxl content-box">
    <div class="content" *ngFor="let element of content">
      {{ element.label }}
    </div>
    <button class="contact-button " mat-raised-button color="primary">
      <span class="s">Связаться с нами</span>
    </button>
  </div>
</mat-expansion-panel>
