<div style="width: 100px; height: 100px">
  <app-slide>
    <div content1>
      <div class="shadow-small content-box-small blue">Для сотрудников</div>
    </div>
    <div content2>
      <div class="shadow-small content-box-small">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officiis
        dolore rerum velit ad, enim iure blanditiis sed. Inventore explicabo
        recusandae accusantium fugiat alias necessitatibus suscipit, aliquam
        repudiandae voluptas minima!
      </div>
    </div>
  </app-slide>
</div>
