.element {
    display: block;
    position: relative;
}
.title-card {
}
.element-box {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.padding {
    padding: 20px;
}
.box-small { 
    width: 100%;
}