<body class="indents">
  <h1><span class="montserrat xxl">Решения для бизнеса</span></h1>
  <div class="row">
    <div class="element-box half">
      <div class="element">
        <app-slide>
          <div content1 class="box-small">
            <div class="shadow-small blue content-box-small">
              <div class="title-card jost-500 m">Для сотрудников</div>
            </div>
          </div>
          <div content2 class="box-small">
            <div class="shadow-small light-blue content-box-small jost">
              <div class="content-card jost s">
                Оптимизация техник продаж с персонализированными рекомендациями
              </div>
              <div class="content-card jost s">
                Повышение качества обслуживания клиентов
              </div>
            </div>
          </div>
        </app-slide>
      </div>
      <div class="element">
        <app-slide>
          <div content1 class="box-small">
            <div class="shadow-small orange content-box-small">
              <div class="title-card jost-500 m">Для сотрудников</div>
            </div>
          </div>
          <div content2 class="box-small">
            <div class="shadow-small light-orange content-box-small">
             <div class="content-card jost s">next</div>
            </div>
          </div>
        </app-slide>
      </div>
    </div>
    <div class="element-box half">
      <div class="element">
        <app-slide>
          <div content1 class="box-small">
            <div class="shadow-small green content-box-small">
              <div class="title-card-big jost-500 m">Для сотрудников</div>
            </div>
          </div>
          <div content2 class="box-small">
            <div class="shadow-small light-green content-box-small">
              <div class="content-card jost s">next</div>
            </div>
          </div>
        </app-slide>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="element-box half">
      <div class="element">
        <app-slide>
          <div content1 class="box-small">
            <div class="shadow-small blue content-box-small">
              <div class="title-card-big">Для сотрудников</div>
            </div>
          </div>
          <div content2 class="box-small">
            <div class="shadow-small content-box-small">O SOLE O SOLE MIO</div>
          </div>
        </app-slide>
      </div>
    </div>
    <div class="element-box half">
      <div class="element">
        <app-slide>
          <div content1 class="box-small">
            <div class="shadow-small blue content-box-small">
              <div class="title-card">Для сотрудников</div>
            </div>
          </div>
          <div content2 class="box-small">
            <div class="shadow-small content-card content-box-small">
              O SOLE O SOLE MIO
            </div>
          </div>
        </app-slide>
      </div>
      <div class="element">
        <app-slide>
          <div content1 class="box-small">
            <div class="shadow-small blue content-box-small">
              <div class="title-card">Для сотрудников</div>
            </div>
          </div>
          <div content2 class="box-small">
            <div class="shadow-small content-box-small">O SOLE O SOLE MIO</div>
          </div>
        </app-slide>
      </div>
    </div>
  </div>
</body>
