<h1><span class="montserrat xxl">Решения для бизнеса</span></h1>
<div class="row">
  <div class="element-box half">
    <div class="element">
      <app-slide>
        <div content1 class="box-small">
          <div class="shadow-small blue content-box-small">
            <div class="title-card jost-500 m">
              <div>Для сотрудников</div>
              <div class="arrow">→</div>
            </div>
          </div>
        </div>
        <div content2 class="box-small">
          <div class="shadow-small light-blue content-box-small jost">
            <ul class="flexbox">
              <li class="content-card jost s">
                Оптимизация техник продаж с персонализированными рекомендациями
              </li>
              <li class="content-card jost s">
                Повышение качества обслуживания клиентов
              </li>
            </ul>
          </div>
        </div>
      </app-slide>
    </div>
    <div class="element">
      <app-slide>
        <div content1 class="box-small">
          <div class="shadow-small orange content-box-small">
            <div class="title-card jost-500 m">
              <div>Для отделов обучения и методологов</div>
              <div class="arrow">→</div>
            </div>
          </div>
        </div>
        <div content2 class="box-small">
          <div class="shadow-small light-orange content-box-small">
            <ul class="flexbox">
              <li class="content-card jost s">
                Анализ данных для разработки эффективных программ обучения
              </li>
              <li class="content-card jost s">
                Оценка качества обучения сотрудников и стажеров
              </li>
            </ul>
          </div>
        </div>
      </app-slide>
    </div>
  </div>
  <div class="element-box half">
    <div class="element">
      <app-slide>
        <div content1 class="box-small">
          <div class="shadow-small green content-box-small">
            <div class="title-card-big jost-500 m">
              <div>Для директоров магазинов</div>
              <div class="arrow">→</div>
            </div>
          </div>
        </div>
        <div content2 class="box-small">
          <div class="shadow-small light-green content-box-small">
            <ul class="flexbox">
              <li class="content-card-big jost s">
                Мониторинг качества работы сотрудников
              </li>
              <li class="content-card-big jost s">
                Повышение показателей работы сотрудников
              </li>
              <li class="content-card-big jost s">
                Индивидуальная обратная связь
              </li>
            </ul>
          </div>
        </div>
      </app-slide>
    </div>
  </div>
</div>

<div class="row">
  <div class="element-box half">
    <div class="element">
      <app-slide>
        <div content1 class="box-small">
          <div class="shadow-small green content-box-small">
            <div class="title-card-big">
              <div>Для руководителей<br />и коммерческого отдела</div>
              <div class="arrow">→</div>
            </div>
          </div>
        </div>
        <div content2 class="box-small">
          <div class="shadow-small content-box-small light-green">
            <ul class="flexbox">
              <li class="content-card-big jost s">
                Мониторинг эффективности бизнеса
              </li>
              <li class="content-card-big jost s">
                Анализ внедрения лучших практик, повышающих продажи
              </li>
              <li class="content-card-big jost s">
                Мониторинг производительности сотрудников всей компании
              </li>
            </ul>
          </div>
        </div>
      </app-slide>
    </div>
  </div>
  <div class="element-box half">
    <div class="element">
      <app-slide>
        <div content1 class="box-small">
          <div class="shadow-small orange content-box-small">
            <div class="title-card">
              <div>Для отдела контроля качества</div>
              <div class="arrow">→</div>
            </div>
          </div>
        </div>
        <div content2 class="box-small">
          <div class="shadow-small content-box-small light-orange">
            <ul class="flexbox">
              <li class="content-card-big jost s">
                Мониторинг конфликтных ситуаций
              </li>
              <li class="content-card-big jost s">
                Анализ влияния речи сотрудника на NPS
              </li>
            </ul>
          </div>
        </div>
      </app-slide>
    </div>
    <div class="element">
      <app-slide>
        <div content1 class="box-small">
          <div class="shadow-small blue content-box-small">
            <div class="title-card">
              <div>Для отдела безопасности</div>
              <div class="arrow">→</div>
            </div>
          </div>
        </div>
        <div content2 class="box-small">
          <div class="shadow-small content-box-small light-blue">
            <ul class="flexbox">
              <li class="content-card-big jost s">Мониторинг фрода</li>
            </ul>
          </div>
        </div>
      </app-slide>
    </div>
  </div>
</div>

<p-carousel
  class="mobile"
  [numVisible]="1"
  [numScroll]="1"
  [value]="solutions"
  [showNavigators]="false"
>
  <ng-template let-solution pTemplate="item">
    <app-slide>
      <div content1 class="box-small">
        <div
          [class]="
            'shadow-small content-box-small wide-mobile ' + solution.color
          "
        >
          <div class="title-card">
            <div>{{ solution.title }}</div>
            <div class="arrow">→</div>
          </div>
        </div>
      </div>
      <div content2 class="box-small">
        <div
          [class]="
            'shadow-small content-box-small wide-mobile light-' + solution.color
          "
        >
          <ul class="flexbox">
            <li
              class="content-card-big jost s"
              *ngFor="let text of solution.text"
            >
              {{ text }}
            </li>
          </ul>
        </div>
      </div>
    </app-slide>
  </ng-template>
</p-carousel>
