<div class="shadow indents gap main-box">
  <div class="card">
    <div class="half gap">
      <h1>
        <span class="xxxl montserrat"
          >Конвертируем речь сотрудника в продажи</span
        >
      </h1>
      <p class="montserrat s">
        <span class="highlighted">Наш главный принцип</span>
        – индивидуальный подход к проектам, автоматизация процессов и постоянное
        совершенствование системы
      </p>
      <div class="flexbox-align-center">
        <button class="contact-button" mat-flat-button color="primary" (click)="navigate('footer')">
          <span class="s jost white">Связаться с нами</span>
        </button>
        <button class="cases-button" (click)="navigateToCases()" disabled>
        <span class="cases jost l">Кейсы →</span>
      </button>
      </div>
    </div>
    <div class="half flexbox-justify-center">
      <img class="woman" src="./assets/woman.jpg"/>
    </div>
  </div>
  <div class="pc-flex content-flex">
    <div class="shadow-small content-box" *ngFor="let aboutUs of firstBox">
      <span class="green-box-header jost-500 xxl">{{ aboutUs.title }}</span>
      <p class="jost xxs restricted-width">{{ aboutUs.text }}</p>
    </div>
    <div
      class="content-box blue-background shadow-small"
      *ngFor="let aboutUs of secondBox"
    >
      <span class="jost-500 xxl">{{ aboutUs.title }}</span>
      <p class="jost xxs restricted-width">{{ aboutUs.text }}</p>
    </div>
  </div>
</div>

<div class="mobile-flex content-flex">
  <div class="shadow-small content-box" *ngFor="let aboutUs of firstBox">
    <span class="green-box-header jost-500 xxl">{{ aboutUs.title }}</span>
    <p class="jost xxs restricted-width">{{ aboutUs.text }}</p>
  </div>
  <div
    class="content-box blue-background shadow-small"
    *ngFor="let aboutUs of secondBox"
  >
    <span class="jost-500 xxl">{{ aboutUs.title }}</span>
    <p class="jost xxs restricted-width">{{ aboutUs.text }}</p>
  </div>
</div>
