.cases {
  color: #ffa134;
  padding-left: 10px;
  user-select: none;
  // &:hover {
  //   text-decoration: underline;
  // }
}
.cases-button {
  background: none;
  border: none;
}
.img-box {
  top: 0;
  // left: 48vw
  // position: absolute;
  display: flex;
  flex-direction: row-reverse;
}
.woman {
  width: 40vw;
  height: 25vw;
  object-fit: contain;
  // object-position: top;
  // background-color: rgba(154, 211, 173, 0.25);
  // border: 5px rgba(154, 211, 173, 0.25);
  // border-radius: 50%;
  @media (max-width: 800px) {
    display: none;
  }
}
.content-box {
  width: 18%;
  padding: 1.25% 0.5% 1.2% 1.25%;
  @media (max-width: 800px) {
    width: 45%;
    padding: 5%;
  }
}
.pc-flex {
  display: flex !important;
  @media (max-width: 800px) {
    display: none !important;
  }
}
.mobile-flex {
  display: none !important;
  @media (max-width: 800px) {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    display: flex !important;
  }
}
.green-box-header {
  color: rgba(78, 180, 121, 1);
}
.content-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 15%;
  @media (max-width: 800px) {
    flex-wrap: wrap;
    gap: 0.25rem;
  }
}
.content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  @media (max-width: 800px) {
    gap: 0.25rem;
    width: 40%;
  }
}
.blue-background {
  background: rgba(146, 189, 228, 1);
}
.main-box {
  @media (max-width: 800px) {
    gap: 0.25rem;
    width: 100%;
  }
}
