<br />
<br />

<div class="set-box">
  <div class="set-text half jost s">
    <h1 style="margin-top: 0;">
      <span class="montserrat xxl"
        >Вока-Тек 7 лет на рынке систем речевой аналитики</span
      >
    </h1>
    <p>
      Мы — российская компания Вока-Тек. С 2017 года занимаемся разработкой
      Wi-Fi аудио-бейджей и активно <br />
      <span class="highlighted">развиваем технологии речевой аналитики.</span>
    </p>
    <p>
      Мы не продаём готовые продукты, а помогаем на каждом этапе внедрения. Наши
      сотрудники глубоко погружены в бизнес процессы всех ключевых отраслей
      и помогут настроить систему под ваши задачи и потребности.
    </p>
  </div>
  <div class="half solution-box">
    <ng-container *ngFor="let solution of set">
      <div [class]="'solution shadow-small jost s ' + solution.color">
        <img [src]="solution.img" alt="" />
        <span class="solution-title"> {{ solution.title }}</span>
      </div>
    </ng-container>
  </div>
</div>
