.text-box {
  padding: 2.5%;
  width: 70%;
  @media (max-width: 800px) {
    width: 100%;
    padding: 10%;
  }
}
.title {
  line-height: 150%;
  padding-bottom: 2%;
}
.subtitle {
  padding-bottom: 2%;
  line-height: 150%;
}
.img-box {
  max-height: 60%;
  max-width: 25%;
  padding: 2.5%;
  object-fit: contain;
  @media (max-width: 800px) {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: fill;
  }
}
.box {
  width: 100%;
  display: flex;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}
