
.container {
  width: 95%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 150%;
}
h1,
h2 {
  color: #444;
}
h1 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
p,
ul {
  margin: 10px 0;
}
ul {
  padding-left: 20px;
}
