<h1><span class="montserrat xxl">Клиенты и партнеры</span></h1>
<p-carousel
  class="mobile"
  [numVisible]="5"
  [numScroll]="1"
  [value]="imagesTop"
  [showIndicators]="false"
  [circular]="true"
>
  <ng-template let-image pTemplate="item">
    <div class="img-box">
      <img [src]="'./assets/friends/' + image + '.png'" />
    </div>
  </ng-template>
</p-carousel>

<p-carousel
  class="mobile"
  [numVisible]="5"
  [numScroll]="1"
  [value]="imagesBot"
  [showIndicators]="false"
  [circular]="true"
>
  <ng-template let-image pTemplate="item">
    <div class="img-box">
      <img [src]="'./assets/friends/' + image + '.png'" />
    </div>
  </ng-template>
</p-carousel>