footer {
  background-color: #dce9f6;
  display: flex;
  flex-direction: row;
  padding: 5%;
}
form {
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
label {
  padding-bottom: calc(var(--font-size-var) * 4);
}
section {
  width: 100%;
}
.logo-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
