footer {
  background-color: #dce9f6;
  display: flex;
  flex-direction: row;
}
form {
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 5%;
}
label {
  padding-bottom: calc(var(--font-size-var) * 4);
}
section {
  width: 100%;
}
.logo-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.grey-background {
  background: #444444;
}
.white {
  color: #ffffff;
}
.confirm-box {
  padding-left: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--font-size-var) * 5);
}
.content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--font-size-var) * 8);
}
