<h1><span class="montserrat xxl">Почему нас выбирают?</span></h1>

<div class="advantage-box">
  <div class="small-advantage shadow-small" *ngFor="let advantage of advantages">
    <div>
      <img [src]="advantage.img" />
      <div class="advantage-title jost m">{{ advantage.title }}</div>
    </div>
    <div class="advantage-text s host s shadow-small">{{ advantage.text }}</div>
  </div>
  <div class="small-advantage shadow-small blue">
    <div class="big-advantage-title jost l">
      Вы можете записаться на бесплатное демо
    </div>
    <div class="button">
      <button mat-flat-button class="contact-button" color="primary">
        <span class="jost m white" (click)="navigate('footer')"
          >Записаться
        </span>
      </button>
    </div>
  </div>
</div>

<p-carousel
  class="carousel-advantage"
  [value]="advantages"
  [showIndicators]="true"
  [showNavigators]="false"
  [numVisible]="1"
  [numScroll]="1"
>
  <ng-template let-advantage pTemplate="item">
    <div class="carousel" style="height: 98%;">
      <div class="small-advantage shadow-small">
        <div>
          <img [src]="advantage.img" />
          <div class="advantage-title jost m">{{ advantage.title }}</div>
        </div>
        <div class="advantage-text s host s shadow-small">{{ advantage.text }}</div>
      </div>
    </div>
  </ng-template>
</p-carousel>
