<h1 style="padding-top: 2.5%">
  <span class="montserrat xxl">{{ content?.title }}</span>
</h1>
<div class="flex">
  <div class="img-box">
    <ng-container *ngFor="let img of firstImg">
      <img
        [src]="img.src"
        [class]="'shadow-small ' + img.style"
        alt="img not found"
      />
    </ng-container>
  </div>
  <div class="img-box">
    <ng-container *ngFor="let img of secondImg">
      <img
        [src]="img.src"
        [class]="'shadow-small ' + img.style"
        alt="img not found"
      />
    </ng-container>
  </div>
</div>

<p-carousel
  [value]="content?.img || []"
  [circular]="true"
  [numScroll]="1"
  [numVisible]="1"
  [showNavigators]="false"
>
  <ng-template let-img pTemplate="item">
    <div class="carousel">
      <img [src]="img.src" [class]="'shadow-small '+ 'big'" alt="img not found" />
    </div>
  </ng-template>
</p-carousel>
