.img-box {
  top: 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  @media (max-width: 800px) {
    display: none;
  }
}
p-carousel {
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}
img {
  position: relative;
  object-fit: contain;
}
.small {
  width: 48%;
}
.big {
  width: 98%;
}
.flex {
  display: flex;
}
