// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$vocaTechPalette: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #4EB479,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: white,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vocaTech-primary: mat.define-palette($vocaTechPalette, A700);
$vocaTech-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vocaTech-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vocaTech-theme: mat.define-light-theme(
  (
    color: (
      primary: $vocaTech-primary,
      accent: $vocaTech-accent,
      warn: $vocaTech-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vocaTech-theme);

/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-size-var: 0.25rem;
}

html {
  height: 100%;
}
body {
  margin: 0;
}
.jost {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: black;
  line-height: 130%;
}
.jost-500 {
  @extend .jost;
  font-weight: 500;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  line-height: 130%;
}
.xxs {
  font-size: calc(var(--font-size-var) * 4);
}
.xs {
  font-size: calc(var(--font-size-var) * 5);
}
.s {
  font-size: calc(var(--font-size-var) * 6);
}
.m {
  font-size: calc(var(--font-size-var) * 7);
}
.l {
  font-size: calc(var(--font-size-var) * 8);
}
.xl {
  font-size: calc(var(--font-size-var) * 9);
}
.xxl {
  font-size: calc(var(--font-size-var) * 10);
}
.xxxl {
  font-size: calc(var(--font-size-var) * 12);
}
.logo {
  height: 50px;
  width: 200px;
}
.big-logo {
  height: 100px;
  width: 400px;
}
.control {
  max-width: 90px;
  max-height: 70px;
}
.contact-button {
  width: 300px;
  height: 60px !important;
  border-radius: 30px !important;
}
.grey {
  color: #5d525a;
}
.half {
  width: 50%;
}
.white {
  color: white;
}
.shadow {
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.2);
  border-radius: 45px;
}
.shadow-small {
  @extend .shadow;
  border-radius: 45px;
}
.card {
  display: flex;
  flex-direction: row;
}
.gap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.indents {
  padding: 2.5%;
  margin: 0.5%;
}
.restricted-width {
  max-width: 60%;
}
.flexbox-align-center {
  display: flex;
  align-items: center;
}
.flexbox-justify-center {
    display: flex;
    justify-content: center;
}
