<h1 class="right-indents">
  <span class="montserrat xxl" style="line-height: 120%"
    >Преимущества речевой аналитики
    <br />
    Вока-Тек для вашей отрасли</span
  >
</h1>

<p class="jost m right-indents">
  Наши технологии позволяют бизнесу получать ценные инсайты из речевых данных
  сотрудников. Это открывает новые возможности для увеличения продаж, улучшения
  эффективности работы персонала и повышения лояльности клиентов.
</p>
<div class="cases-flex">
  <div class="cases-list">
    <ng-container *ngFor="let case of cases">
      <div class="case-item xl jost">{{ case.title }}</div></ng-container
    >
    <button class="cases-button">
      <span class="jost-500 l">Смотреть все кейсы</span>
    </button>
  </div>
  <img class="cases-img shadow" src="/assets/cases-img.png" alt="" />
</div>

<!-- 
<div class="case-box">
  <div class="small-case" *ngFor="let case of cases">
    <div class="shadow-small case">
      <div class="case-title">{{ case.title }}</div>
      <div class="case-text s">{{ case.text }}</div>
    </div>
  </div>
  <div class="big-case">
    <div class="shadow-small big-case-title jost l green">
      Наши результаты говорят сами за себя
      <div class="button">
        <div style="border: 2px solid blue; border-radius: 30px">
          <button mat-button class="contact-button" color="primary">
            <span class="jost m" (click)="navigateToCases()">Все кейсы </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-case-box">
  <p-carousel
    [value]="cases"
    [circular]="true"
    [numScroll]="1"
    [numVisible]="1"
    [showNavigators]="false"
  >
    <ng-template let-case pTemplate="item">
      <div class="carousel">
        <div class="shadow-small case">
          <div class="case-title">{{ case.title }}</div>
          <div class="case-text s">{{ case.text }}</div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="big-case mobile-case-box">
  <div class="shadow-small big-case-title jost l green">
    Наши результаты говорят сами за себя
    <div class="button">
      <div style="border: 2px solid blue; border-radius: 30px">
        <button mat-button class="contact-button" color="primary" [disabled]="true"  (click)="navigateToCases()">
          <span class="jost m">Все кейсы </span>
        </button>
      </div>
    </div>
  </div>
</div> -->
