.case-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  row-gap: 40px;
  @media (max-width: 800px) {
    display: none;
  }
}
.right-indents {
  padding-right: 10vw;
  @media (max-width: 800px) {
    padding-right: 5vw;
  }
}
.mobile-case-box {
  display: none;
  @media (max-width: 800px) {
    display: block;
    width: 100% !important;
  }
}
.small-case {
  width: 24.5%;
}
.big-case {
  width: 50%;
  color: black;
}
.big-case-title {
  height: 100%;
  color: black;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-bottom: 2.5%;
  padding-right: 1.25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cases-button {
  width: 80%;
  text-align: center;
  border: 2px solid rgba(40, 148, 210, 1);
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 16px;
  background: none;
  &:active {
    background-color: rgba(40, 148, 210, 0.25);
  }
  @media (max-width: 800px) {
    width: 95vw;
  }
}
.case-text {
  color: black;
}
.case-item {
  cursor: pointer;
  &:hover {
    color: rgba(40, 148, 210, 1);
  }
  @media (max-width: 800px) {
    font-weight: 500;
  }
}
.cases-img {
  width: 60vw;
  @media (max-width: 800px) {
    width: 95vw;
  }
}
.cases-list {
  gap: 4vh;
  flex-direction: column;
  display: flex;
  width: 40vw;
  @media (max-width: 800px) {
    width: 80vw;
    gap: 2vh;
  }
}
.cases-flex {
  display: flex;
  flex-direction: row;
  padding-top: 2vh;
  @media (max-width: 800px) {
    flex-direction: column;
    gap: 2vh;
  }
}
