.case-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 97.5%;
    row-gap: 80px;
}
.small-case {
    width: 22%;
}
.big-case {
    width: 48%;
    color: black;
}
.big-case-title {
    height: 100%;
    color: black;
    padding-top: 2.5%;
    padding-left: 5%;
    padding-bottom: 2.5%;
    padding-right: 1.25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.case-text {
    color: black;
}